{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
    <style>
        body {
            font-family: {{ request.user.userprofile.font_style|default:'Arial' }};
        }
    </style>
</head>
<body>
    <!-- Navbar and other content -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <!-- Scripts -->
</body>
</html>
